.bg-whilte {
  background-color: var(--white);
}

.bg-gray-dark {
  background-color: var(--gray-dark);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-whilte-gray {
  background: var(--white-gray);
}

.bg-dark-black {
  background-color: var(--dark-black);
}

.gap-2 {
  gap: 2px;
}

.gap-10 {
  gap: 10px;
}

.gap-50 {
  gap: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-100 {
  margin-bottom: 100px;
}

.border-5 {
  border-radius: 5px;
}

.h-20 {
  height: 20px;
}

.h-22 {
  height: 22px;
}

.selected {
  background-color: var(--dark-black) !important;
  color: var(--light);
}

.correct {
  background-color: var(--light) !important;
  color: var(--dark-black);
}
