.bg-whilte {
  background-color: "var(--white)";
}

.bg-secondary {
  background-color: "var(--secondary)";
}

.bg-gray-dark {
  background-color: "var(--gray-dark)";
}

.bg-gray {
  background-color: "var(--gray)";
}

.gap-2 {
  gap: 2px;
}

.gap-10 {
  gap: 10px;
}

.gap-50 {
  gap: 50px;
}
